.boxes {
  counter-reset: numb;
  font-family: $acrom;
  padding: rem(32) 0 rem(32);

  &__box {
    margin: rem(24) 0 0 rem(32);

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-family: $acrom;
    margin-bottom: rem(6);
  }

  &__list {
    margin-left: rem(20);
    font-family: $acrom;
  }

  &__item {
    font-size: rem(10);
    margin-bottom: rem(7);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .boxes {
    display: flex;
    justify-content: space-between;
    padding: rem(32) rem(32) rem(48);
    flex-wrap: wrap;

    &__item {
      font-size: rem(12);
    }

    &__box {
      flex-basis: 26%;
      margin: 0;

      &:nth-child(n+4) {
        margin-top: rem(30);
      }
    }
  }
}